@{
    ViewBag.Title = "Jesus Name Pentecostal Church";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<head>
    <meta name="keywords" content="McLoud, Pentecost, Church, Jesus" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Areas/Member/Style/css")
    @Styles.Render("~/Content/css")
    <link href="~/Areas/Member/Style/MemberStyleSheet.css" rel="stylesheet" />
</head>

<h2 class="heading2">Jesus Name Pentecostal Church is affiliated with the United Pentecostal Church</h2>

<p class="heading3">
    Physical Address: 22250 Oklahoma St, Harrah, OK (On the corner of SE 29TH and Moran Dr).<br />
    Mailing Address: P.O. Box 101, McLoud, OK 74851  <br />
    Phone Number: (405)204-4316 <br />
    Email: jnpcpastor@gmail.com <br />
    Facebook: <a target="_blank" href="https://www.facebook.com/JNPCofMcLoud">https://www.facebook.com/JNPCofMcLoud &raquo</a>
</p>