@{
    ViewBag.Title = "Jesus Name Pentecostal Church";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";

}

<head>
    <meta name="keywords" content="McLoud, Pentecost, Church, Jesus" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Areas/Member/Style/css")
    @Styles.Render("~/Content/css")
    <link href="~/Areas/Member/Style/MemberStyleSheet.css" rel="stylesheet" />
</head>



<body>


    <p class="lead">
        <br /><b><u>1 Peter 2:9–10</u></b><br/>
        9 But ye are a chosen generation, a royal priesthood, an holy nation, a peculiar people; that ye should shew forth the praises of him who hath called you out of darkness into his marvellous light:
        10 Which in time past were not a people, but are now the people of God: which had not obtained mercy, but now have obtained mercy.
        <br /><br />
</p>


    <div class="row"">
        <div class="col-md-4">
            <blockquote>
                <h2>Acts 2:38</h2>
                <p>
                    Then Peter said unto them, Repent, and be baptized every one of you in the name
                    of Jesus Christ for the remission of sins, and ye shall receive the gift of the Holy Ghost.
                </p>

                <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=0QlMEy3YtiQ" target="_blank">Learn more &raquo;</a></p>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <h2>Deuteronony 6:4</h2>
                <p>      Hear, O Israel: The LORD our God is one LORD: </p>
                <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=4MURw3L9l7Q" target="_blank">Learn more &raquo;</a></p>
            </blockquote>
        </div>
        <div class="col-md-4">
            <blockquote>
                <h2>1 Peter 13:15-16</h2>
                <p>
                    15  But as he which hath called you is holy, so be ye holy in all manner of conversation;
                    16  Because it is written, Be ye holy; for I am holy.
                </p>
                <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=Rhw9ZsDH5rE" target="_blank">Learn more &raquo;</a></p>
            </blockquote>
        </div>
    </div>
</body>