@model IEnumerable<Church_App.Models.NeedToContactModel>

@{
    ViewBag.Title = "JNPC";
    Layout = "~/Areas/Pastor/Views/Shared/_PastorLayout.cshtml";

}

<head>
    <meta name="keywords" content="McLoud, Pentecost, Church, Jesus" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Style/css")
    @Styles.Render("~/Content/css")
    <link href="~/Areas/Pastor/Style/PastorStyleSheet.css" rel="stylesheet" />
</head>


    <h1 class="heading3">
        <b><u>Mark 16:15–18</u></b>
        <br>15 And he said unto them, Go ye into all the world, and preach the gospel to every creature.
        <br>16 He that believeth and is baptized shall be saved; but he that believeth not shall be damned.
        <br>17 And these signs shall follow them that believe; In my name shall they cast out devils; they shall speak with new tongues;
        <br>18 They shall take up serpents; and if they drink any deadly thing, it shall not hurt them; they shall lay hands on the sick, and they shall recover.
    </h1>
    <p class="body"></p>

