@{
    ViewBag.Title = "JNPC";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <meta name="keywords" content="McLoud, Pentecost, Church, Jesus" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Style/css")
    @Styles.Render("~/Content/css")
    <link href="~/Areas/Admin/Style/AdminStyleSheet.css" rel="stylesheet" />
</head>
<h2 class="heading2">Jesus Name Pentecostal Church</h2>
<div class="body">
    <p class="heading3">
        Physical Address: 22250 Oklahoma St, Harrah, OK <br />
        (On the corner of SE 29TH and Moran Dr) <br />
        Mailing Address: P.O. Box 101, McLoud, OK 74851  <br />
        Phone Number: (405)204-4316 <br />
        Email: jnpcpastor@gmail.com <br />
        Facebook: <a target="_blank" href="https://www.facebook.com/JNPCofMcLoud">https://www.facebook.com/JNPCofMcLoud &raquo</a>
    </p>
</div>