@{
    ViewBag.Title = "JNPC";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<head>
    <<meta name="keywords" content="McLoud, Pentecost, Church, Jesus" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Areas/Admin/Style/css")
    @Styles.Render("~/Content/css")
    <link href="~/Areas/Admin/Style/AdminStyleSheet.css" rel="stylesheet" />
</head>

    <p class="lead">
       <b><u>Acts 6:1–7</u></b> <br />
        1 And in those days, when the number of the disciples was multiplied, there arose a murmuring of the Grecians against the Hebrews, because their widows were neglected in the daily ministration.
        2 Then the twelve called the multitude of the disciples unto them, and said, It is not reason that we should leave the word of God, and serve tables.
        3 Wherefore, brethren, look ye out among you seven men of honest report, full of the Holy Ghost and wisdom, whom we may appoint over this business.
        4 But we will give ourselves continually to prayer, and to the ministry of the word.
        5 And the saying pleased the whole multitude: and they chose Stephen, a man full of faith and of the Holy Ghost, and Philip, and Prochorus, and Nicanor, and Timon, and Parmenas, and Nicolas a proselyte of Antioch:
        6 Whom they set before the apostles: and when they had prayed, they laid their hands on them.
        7 And the word of God increased; and the number of the disciples multiplied in Jerusalem greatly; and a great company of the priests were obedient to the faith.
        <br />
    </p>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <blockquote>
                    <h2>Acts 2:38</h2>
                    <p>
                        Then Peter said unto them, Repent, and be baptized every one of you in the name
                        of Jesus Christ for the remission of sins, and ye shall receive the gift of the Holy Ghost.
                    </p>

                    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=0QlMEy3YtiQ" target="_blank">Learn more &raquo;</a></p>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    <h2>Deuteronony 6:4</h2>
                    <p>      Hear, O Israel: The LORD our God is one LORD: </p>
                    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=4MURw3L9l7Q" target="_blank">Learn more &raquo;</a></p>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    <h2>1 Peter 13:15-16</h2>
                    <p>
                        15  But as he which hath called you is holy, so be ye holy in all manner of conversation;
                        16  Because it is written, Be ye holy; for I am holy.
                    </p>
                    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=Rhw9ZsDH5rE" target="_blank">Learn more &raquo;</a></p>
                </blockquote>
            </div>
        </div>
    </div>