@{
    ViewBag.Title = "JNPC About Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<head>
    <meta name="keywords" content="McLoud, Pentecost, Church, Jesus" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    @Styles.Render("~/Style/css")
    @Styles.Render("~/Content/css")
    <link href="~/Style/HomeStyleSheet.css" rel="stylesheet" />
</head>

<p>
    <h2 class="heading2">Jesus Name Pentecostal Church is affiliated with the United Pentecostal Church.</h2>


    <h3 class="heading3">
        Physical Address: 22250 Oklahoma St, Harrah, OK <br />
        (On the corner of SE 29TH and Moran Dr) <br />
        Mailing Address: P.O. Box 101, McLoud, OK 74851  <br />
        Phone Number: (405)204-4316 <br />
        Email: jnpcpastor@gmail.com <br />
        Facebook: <a target="_blank" href="https://www.facebook.com/JNPCofMcLoud">https://www.facebook.com/JNPCofMcLoud &raquo</a>
    </h3>
</p>

<div class="body"></div>