@{
    ViewBag.Title = "Jesus Name Pentecostal Church";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<head>
    <meta name="keywords" content="McLoud, Pentecost, Church, Jesus" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Styles.Render("~/Style/css")
    @Styles.Render("~/Content/css")
    <link href="~/Style/HomeStyleSheet.css" rel="stylesheet" />
</head>


    <div class="column1">
        <img class="building" src="~/images/ChurchBuilding.JPG" />
    </div>
    <div class="column2">
        <img class="sign" src="~/images/Church_Sign.JPG" />
    </div>
        


    <p class="lead">Welcome to our webpage!  Jesus Name Pentecostal Church is a Spirit filled church, who still teaches repentance from sin, baptism in Jesus Name, and the infilling of the Holy Ghost.<br /><br /></p>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <blockquote>
                    <h2>Acts 2:38</h2>
                    <p>
                        Then Peter said unto them, Repent, and be baptized every one of you in the name
                        of Jesus Christ for the remission of sins, and ye shall receive the gift of the Holy Ghost.
                    </p>

                    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=0QlMEy3YtiQ" target="_blank">Learn more &raquo;</a></p>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    <h2>Deuteronony 6:4</h2>
                    <p>      Hear, O Israel: The LORD our God is one LORD: </p>
                    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=4MURw3L9l7Q" target="_blank">Learn more &raquo;</a></p>
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    <h2>1 Peter 13:15-16</h2>
                    <p>
                        15  But as he which hath called you is holy, so be ye holy in all manner of conversation;
                        16  Because it is written, Be ye holy; for I am holy.
                    </p>
                    <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=Rhw9ZsDH5rE" target="_blank">Learn more &raquo;</a></p>
                </blockquote>
            </div>
        </div>
    </div>