<!DOCTYPE html>

<html>
<head>
        <link href="~/Areas/Admin/Style/AdminStyleSheet.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.css"/>
        <script src="~/Scripts/jquery-3.4.1.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container body-content">
        @RenderPage("_AdminHeader.cshtml")
        @RenderBody()
    </div>
    @RenderPage("_AdminFooter.cshtml")
</body>
</html>
